/* Hero section */

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #c6093b;
}
.hero.active a {
  color: white;
  text-decoration-color: #0033a0;
}

@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}

@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}
/* what is this diddy blud doing on the codespace */