/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

b
h2 {
  color: #0033a0;
  text-decoration: underline;
  text-decoration-color: #c6093b;
  margin-bottom: 8px;
}
p {
  margin-top: 0;
}

main {
  min-height: 100dvh;
  max-width: 35em; 
  line-height: 1.8; 
  font-size: 18px; 
  margin: 0 auto; 
}
